
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rtspapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label="RTSP Viewer" android:theme="@style/Theme.Material3.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
